@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center">
    <h1 class="display-4">@System.DateTime.Now.ToLongDateString()</h1>
    <h1 class="display-4">@System.DateTime.Now.ToLongTimeString()</h1>
    <p>@ViewBag.MachineName</p>
</div>
